In [1]:
import pandas as pd
df=pd.read_csv("/home/yash/Downloads/dataset/Affline_Dataset/Property dataset/Properties.csv")
df=pd.read_csv("/home/yash/Downloads/dataset/Affline_Dataset/training dataset/Accounts.csv")
df=pd.read_csv("/home/yash/Downloads/dataset/Affline_Dataset/training dataset/Accounts_properties.csv")
# df=pd.read_csv("/home/yash/Downloads/dataset/Affline_Dataset/training dataset/Deals_to_Properties.csv")
# df=pd.read_csv("/home/yash/Downloads/dataset/Affline_Dataset/training dataset/Opportunities.csv")

In [2]:
df.head()

,id,id_deals,id_accs,id_props
0,a062A00001Whq5tQAB,a062A00001Whq5tQAB,0012A000023XlCCQA0,a0I2A00000XQKwXUAX
1,a062A00001VmP7EQAV,a062A00001VmP7EQAV,0012A000023XmOxQAK,a0I2A00000XvUEwUAN
2,a062A00001VmQByQAN,a062A00001VmQByQAN,0012A000023XmOxQAK,a0I2A00000XwQ13UAF
3,a062A00001VmQC2QAN,a062A00001VmQC2QAN,0012A000023XmOxQAK,a0I2A00000XwZyBUAV
4,a062A00001VmW8wQAF,a062A00001VmW8wQAF,0012A000023XmOxQAK,a0I2A00000ZGZClUAP

In [37]:
df.describe()

,active_deals,activity_count,num_deals_as_client,num_deals_as_investor,number_of_properties,number_of_related_deals,number_of_related_properties,number_of_won_deals_as_client
count,2756.000000,2756.000000,2756.000000,2756.000000,2756.000000,2756.000000,2756.000000,2756.000000
mean,16.461538,9460.461176,6.029390,10.450290,21.382075,21.567126,28.296807,4.881713
std,73.668032,20528.690928,17.879478,68.893548,69.984153,81.063531,84.415697,15.555176
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,1.000000,299.000000,0.000000,1.000000,1.000000,1.000000,2.000000,0.000000
50%,3.000000,2354.000000,0.000000,1.000000,5.000000,4.000000,7.000000,0.000000
75%,10.000000,9818.250000,5.000000,4.000000,16.000000,16.000000,21.000000,3.000000
max,2215.000000,217301.000000,333.000000,2205.000000,1335.000000,2137.000000,1479.000000,330.000000

In [38]:
df.isnull().sum()

id_accs                           0
active_deals                      0
activity_count                    0
buyer_book                        0
servicing_contract                0
investor_type                    21
cmbs                              0
consultant                        0
correspondent                     0
foreign                           0
master_servicer                   0
lender_book                       0
loan_sales_book                   0
loan_servicing                    0
num_deals_as_client               0
num_deals_as_investor             0
number_of_properties              0
number_of_related_deals           0
number_of_related_properties      0
number_of_won_deals_as_client     0
dtype: int64

In [39]:
df.shape

(2756, 20)

In [42]:
print len(df.active_deals.unique())
#clear rows for market, region_c, 
# print len(df.id_deals.unique())
# print len(df.id_deals.unique())
# print len(df.id_accs.unique())
# print len(df.id_props.unique())

# in Accounts_properties, id column is same as id_deals
# hence id_props is the unique id for the table properties
# hence id_deals is the unique id for the table opportunities
# Deals_to_Properties is linkage from properties to opportunities

159