In [26]:
import pandas as pd
# df=pd.read_csv("/home/yash/Downloads/dataset/Affline_Dataset/Property dataset/Properties.csv")
# df=pd.read_csv("/home/yash/Downloads/dataset/Affline_Dataset/training dataset/Accounts.csv")
# df=pd.read_csv("/home/yash/Downloads/dataset/Affline_Dataset/training dataset/Accounts_properties.csv")
# df=pd.read_csv("/home/yash/Downloads/dataset/Affline_Dataset/training dataset/Deals_to_Properties.csv")
df=pd.read_csv("/home/yash/Downloads/dataset/Affline_Dataset/training dataset/Opportunities.csv")

In [27]:
df.head()

,id_deals,id_accs,accounting_date,best_initial_bid,id_deals.1,closedate,date_closed,deal_type,deal_update_flag,debt_yield,fiscal,fiscalquarter,fiscalyear,platform,property_group,property_type
0,0062A00000moF1LQAU,0012A000023XvIOQA0,NaN,NaN,0062A00000moF1LQAU,8/12/2005,8/18/2005 0:00,Fixed-rate,True,NaN,2005 3,3,2005,Debt,Healthcare,Healthcare
1,0062A00000moF9LQAU,0012A000023YFe1QAG,NaN,NaN,0062A00000moF9LQAU,2/6/2012,6/27/2012 12:00,Fixed-rate,True,NaN,2012 1,1,2012,Debt,Healthcare,Biotech
2,0062A00000moGodQAE,0012A000023YEDcQAO,8/12/2004,NaN,0062A00000moGodQAE,11/24/2003,8/11/2004 0:00,Construction Loan,True,NaN,2003 4,4,2003,Debt,Healthcare,Biotech
3,0062A00000moBTHQA2,0012A000023YA3nQAG,NaN,NaN,0062A00000moBTHQA2,2/10/2006,4/19/2006 0:00,Fixed-rate,True,NaN,2006 1,1,2006,Debt,Healthcare,Healthcare
4,0062A00000mo8OjQAI,0012A000023XpRUQA0,NaN,NaN,0062A00000mo8OjQAI,7/13/2006,11/16/2006 0:00,Fixed-rate,True,NaN,2006 3,3,2006,Debt,Healthcare,Healthcare

In [28]:
df.describe()

       best_initial_bid    debt_yield  fiscalquarter    fiscalyear
count      2.502800e+04  13851.000000   26029.000000  26029.000000
mean       2.968110e+06      0.927224       2.871528   2008.242153
std        2.261392e+07      2.888600       1.167216      5.262988
min        0.000000e+00      0.000000       1.000000   2002.000000
25%        0.000000e+00      0.000000       2.000000   2002.000000
50%        0.000000e+00      0.000000       3.000000   2007.000000
75%        0.000000e+00      0.000000       4.000000   2013.000000
max        1.447140e+09     30.000000       4.000000   2016.000000

In [29]:
df.isnull().sum()

id_deals                0
id_accs                 0
accounting_date       513
best_initial_bid     1001
id_deals.1              0
closedate               0
date_closed           504
deal_type               6
deal_update_flag        0
debt_yield          12178
fiscal                  0
fiscalquarter           0
fiscalyear              0
platform                6
property_group          2
property_type           2
dtype: int64

In [30]:
df.shape

(26029, 16)

In [31]:
# print len(df.active_deals.unique())
#clear rows for market, region_c,
print len(df.id_deals.unique())
# print len(df.id_accs.unique())
# print len(df.id_props.unique())

# in Accounts_properties, id column is same as id_deals
# hence id_props is the unique id for the table properties
# hence id_deals is the unique id for the table opportunities
# Deals_to_Properties is linkage from properties to opportunities

26029