In [14]:
import pandas as pd
import numpy as np
df_prop=pd.read_csv("/home/yash/Downloads/dataset/Affline_Dataset/Property dataset/Properties.csv")
df_pta=pd.read_csv("/home/yash/Downloads/dataset/Affline_Dataset/training dataset/Accounts_properties.csv")

In [2]:
df_prop.head()

,id_props,building_status,building_tax_expenses,id_deals,city,class,county,sale_status,portfolio,market,...,price_per_sq_ft,price_per_unit,property_type_1,region__c,sale_amount__c,sale_date__c,size_acres,size_sf,size_units,year_built
0,a0I2A00000XQGKlUAP,Existing,2009 Tax @ $1.25/sf,a0I2A00000XQGKlUAP,City-0488,Class B,County-0172,N,False,Market-0059,...,46.59,18350000.00,Industrial,Southwest,1.835000e+07,7/10/2015,3.760,393862.0,1.0,1980.0
1,a0I2A00000XQGKnUAP,NaN,NaN,a0I2A00000XQGKnUAP,City-1975,Class A,County-0465,Y,True,Market-0239,...,1141.55,2109090.91,Multi-Housing,Southeast,2.144058e+07,12/31/2016,19.600,508080.0,275.0,2014.0
2,a0I2A00000XQGKoUAP,Existing,"2016 Tax @ $5.63/sf; 2007 Ops @ $19.58/sf, 201...",a0I2A00000XQGKoUAP,City-1415,Class B,County-0452,N,False,Market-0165,...,1506.65,NaN,Retail,Northeast,2.754156e+07,9/30/2016,0.266,18280.0,NaN,1902.0
3,a0I2A00000XQGKpUAP,NaN,NaN,a0I2A00000XQGKpUAP,City-1415,Class A,County-0452,N,False,Market-0165,...,580.83,1220689.66,NaN,Northeast,1.416000e+08,1/21/2016,0.530,243789.0,116.0,NaN
4,a0I2A00000XQGKqUAP,NaN,NaN,a0I2A00000XQGKqUAP,City-0941,NaN,County-0284,N,False,Market-0106,...,NaN,NaN,Self-Storage,Southwest,0.000000e+00,9/30/2014,NaN,NaN,NaN,NaN

In [3]:
df_pta.head()

,id,id_deals,id_accs,id_props
0,a062A00001Whq5tQAB,a062A00001Whq5tQAB,0012A000023XlCCQA0,a0I2A00000XQKwXUAX
1,a062A00001VmP7EQAV,a062A00001VmP7EQAV,0012A000023XmOxQAK,a0I2A00000XvUEwUAN
2,a062A00001VmQByQAN,a062A00001VmQByQAN,0012A000023XmOxQAK,a0I2A00000XwQ13UAF
3,a062A00001VmQC2QAN,a062A00001VmQC2QAN,0012A000023XmOxQAK,a0I2A00000XwZyBUAV
4,a062A00001VmW8wQAF,a062A00001VmW8wQAF,0012A000023XmOxQAK,a0I2A00000ZGZClUAP

In [6]:
acquired_props=df_pta.id_props.unique()
df_pta.shape

(70350, 4)

In [5]:
acquired_props.shape

(63001,)

In [7]:
all_props=df_prop.id_props.unique()

In [9]:
all_props.shape

(18298,)

In [10]:
forSale=[x for x in all_props if x not in acquired_props]

In [12]:
len(forSale)

3685

In [13]:
type(all_props)

numpy.ndarray

In [15]:
forSale=np.setdiff1d(all_props,acquired_props)

In [16]:
forSale.shape

(3685,)